@model Employee

<tr id="@Model.Id">
    <td>@Model.Name</td>
    <td>@Html.DisplayFor(e => e.Email)</td>
    <td>@Html.DisplayFor(e => e.Salary)</td>
    <td>@Model.Address</td>
    <td>@Model.Gender</td>
    <td>@Html.Partial("_ControlsPartial", Model.Id)</td>
</tr>
