@model Employee
@{
    ViewBag.Title = "Employee Details";
}

<h2 class="my-3">Employee Details</h2>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Html.DisplayFor(e => e.Name)</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(e => e.Email)</h6>
        <p class="card-text">@Html.DisplayNameFor(e => e.Department): @Html.DisplayFor(e => e.Department.Name)</p>
        <p class="card-text">@Html.DisplayNameFor(e => e.PhoneNumber): @Html.DisplayFor(e => e.PhoneNumber)</p>
        <p class="card-text">@Html.DisplayNameFor(e => e.Salary): @Html.DisplayFor(e => e.Salary)</p>
        <p class="card-text">@Html.DisplayNameFor(e => e.Gender): @Html.DisplayFor(e => e.Gender)</p>
        <p class="card-text">@Html.DisplayNameFor(e => e.Address): @Html.DisplayFor(e => e.Address)</p>
    </div>
</div>

@Html.ActionLink("Go Back", "Index", "Employees", null, new { @class = "btn btn-outline-primary mt-2" })