@model Employee
@{
    ViewBag.Title = "Employee Details";
}

<h2 class="my-3">Employee Details</h2>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Model.Email</h6>
        <p class="card-text">Salary: @Model.Salary</p>
        <p class="card-text">Gender: @Model.Gender</p>
        <p class="card-text">Address: @Model.Address</p>
    </div>
</div>

@Html.ActionLink("Go Back", "Index", "Employees", null, new { @class = "btn btn-outline-primary mt-2" })