@model EmployeeViewModel
@{
    ViewBag.Title = "Employees";
}

<h2 class="my-3">Employees</h2>

<a href="@Url.Action("Add")" class="btn btn-primary">+ Add Employee</a>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#employeeModal">+ Add Employee Ajax</button>

<!-- Modal -->
<div class="modal fade" id="employeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @using (Ajax.BeginForm("AddAjax", new AjaxOptions { OnSuccess = "onSuccess", UpdateTargetId = "tbody", InsertionMode = InsertionMode.InsertAfter, OnFailure = "onFailure" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="employeeModalLabel">Add Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                    @Html.Partial("_EmployeeFormPartial", Model)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>

<hr />

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(e => e.Employee.Name)</th>
            <th>@Html.DisplayNameFor(e => e.Employee.Department)</th>
            <th>@Html.DisplayNameFor(e => e.Employee.PhoneNumber)</th>
            <th>@Html.DisplayNameFor(e => e.Employee.Email)</th>
            <th>@Html.DisplayNameFor(e => e.Employee.Salary)</th>
            <th>@Html.DisplayNameFor(e => e.Employee.Address)</th>
            <th>@Html.DisplayNameFor(e => e.Employee.Gender)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="tbody">
        @foreach (Employee employee in Model.Employees)
        {
            @Html.Partial("_EmployeePartial", employee)
        }
    </tbody>
</table>



@section Scripts {
    <script>
        function deleteEmployee(id) {
            $.ajax(`@Url.Action("DeleteAjax")/${id}`, {
                type: "POST",
                success: function (response) {
                    if (response) {
                        $(`#${id}`).remove();
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            })
        }

        function onSuccess(data) {
            if (data) {
                $("#form0")[0].reset();
                $("#employeeModal").modal('hide');
            }
        }

        function onFailure(error) {
            $("#modal-body").html(error.responseText);
        }
    </script>
}