@model Employee

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <div> 
        <h1>Employee Added Successfully</h1>

        <p><span>Id: </span> @Model.Id</p>
        <p><span>Name: </span> @Model.Name</p>
        <p><span>Email: </span> @Model.Email</p>
        <p><span>Password: </span> @Model.Password</p>
        <p><span>Salary: </span> @Model.Salary</p>
        <p><span>Address: </span> @Model.Address</p>
        <p><span>Gender: </span> @Model.Gender</p>

    </div>
</body>
</html>
